$mobile : 767px;

.footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    justify-content: space-around;
    background-color: #11376f;
    flex-direction: row;

    a {
        text-decoration: none;
        color: #ffff;
    }

    h3 {
        color: #ffff;
    }
}

.jumbotron{
    background-image: url(../img/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 !important;

    
    h2{
        background-color: #11376f;
        padding: 20px;
        width: 400px;
        color: #fff;
    }
}

.footer {
    nav {
        display: grid;
        grid-template-rows: 20px 20px 20px;
        gap: 10px;
    }

    @media(max-width: $mobile) {
        display: grid;
    }
}


h1{
    text-align: center;
}

.main{
    display: flex;
    gap: 50px;
    margin: 40px;

    @media(max-width: $mobile){
        flex-direction: column;
    }
}